<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta charset ="utf-8">
  <title>Benchmark Calculator</title>
</head>
<body>

  <div class="calculator-container">
    <div id="display">
    </div>

    <div class="calculator-row1">
      <div class="calculator-button" id="ac">
        <button>AC</button>
      </div>
      <div class="calculator-button" id="plusMinus">
        <button>+/-</button>
      </div>
      <div class="calculator-button" id="percent">
        <button>%</button>
      </div>
      <div class="calculator-button" id="divide">
        <button class="orange-button white-operator">/</button>
      </div>
    </div>

    <div class="calculato-row2">
      <div class="calculator-button">
        <button>7</button>
      </div>
      <div class="calculator-button">
        <button>8</button>
      </div>
      <div class="calculator-button">
        <button>9</button>
      </div>
      <div class="calculator-button">
        <button class="orange-button white-operator">x</button>
      </div>
    </div>

    <div class="calculator-row3">
      <div class="calculator-button">
        <button>4</button>
      </div>
      <div class="calculator-button">
        <button>5</button>
      </div>
      <div class="calculator-button">
        <button>6</button>
      </div>
      <div class="calculator-button">
        <button class="orange-button white-operator">-</button>
      </div>
    </div>

    <div class="calculator-row4">
      <div class="calculator-button">
        <button>1</button>
      </div>
      <div class="calculator-button">
        <button>2</button>
      </div>
      <div class="calculator-button">
        <button>3</button>
      </div>
      <div class="calculator-button">
        <button class="orange-button white-operator">+</button>
      </div>
    </div>

    <div class="calculator-row5">
      <div class="calculator-button">
        <button id="large-button">0</button>
      </div>
      <div class="calculator-button">
        <button>.</button>
      </div>
      <div class="calculator-button">
        <button class="orange-button white-operator">=</button>
      </div>
    </div>
  </div>

</body>
</html>
