.calculator {
  width: 232px;
  height: 323px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.display {
  width: 232px;
  height: 75px;
  background-color: #7d7d7d;
  opacity: .7;
}

.calculator-button {
  display:inline;
  width: 232px;
}

.calculator-orange-button {
  background-color: #f5923d;
}

.calculator-orange-button:hover {
background-color: #ED7E10;
}

.calculator-orange-button:active {
  background-color: #ED7E10;
}

.large-button {
  width: 116px;
}

button {
  background-color: #d6d6d6;
  width: 58px;
  height: 48px;
  margin-right: -4px;
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  border: 1px solid #8C8C8C;
}



button:hover {
  background-color: #C6C6C6;
}

.white-operator {
   color:#ffffff;
}

p {
  color: #FFFFFF;
  font-size: 35pt;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}
